<div class="page">
  <header>
    <nav>
      <ul>
        <li><a href="#hero">Início</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#speakers">Palestrantes</a></li>
        <li><a href="#schedule">Programação</a></li>
        <li><a href="#sponsors">Patrocinadores</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </nav>
  </header>

  <section id="hero">
    <div class="hero-content">
      <h1>I Fórum de Inovação do Judiciário Piauiense</h1>
      <a color="primary" href="https://sysejud.tjpi.jus.br/events/309" target="_blank">
        REALIZAR INSCRIÇÃO <mat-icon>outbound</mat-icon>
      </a>
    </div>

    <section id="supporters">
      <div class="supporters-container">
        <div class="supporters-title">
          <h2>
            Realizadores:
          </h2>
        </div>
        <div class="supporters-logos">
          <img src="../../assets/logos/tre_pi.png" alt="Realizador">
          <img src="../../assets/logos/logo-ejud.png" alt="Realizador" class="reduce-large-icons">
          <img src="../../assets/logos/tjpi-novo.png" alt="Realizador">
          <img src="../../assets/logos/trt22.png" alt="Realizador">
          <img src="../../assets/logos/logo-corregedoria.png" alt="Realizador">
          <img src="../../assets/logos/opalalab-logo.png" alt="Realizador">
        </div>
      </div>
    </section>
  </section>

  <section id="about">
    <h2>Sobre</h2>
    <div class="content">
      <div class="left-container">
        <div class="about-text">
          <p>
            O 1º Fórum de Inovação do Judiciário Piauiense (FIJPI) será um evento pioneiro em Teresina, destaca-se como um marco importante
            na busca por modernização e eficiência nos serviços judiciários do estado. Reunindo magistrados, servidores,
            advogados e especialistas em tecnologia, o evento teve como objetivo principal promover a troca de
            experiências e a discussão de estratégias inovadoras que possam ser implementadas no sistema judiciário
            local.
          </p>
          <p>
            Entre os temas abordados, destacaram-se a inteligência artificial, a automação de processos judiciais
            e a utilização de novas ferramentas digitais para agilizar o trâmite de ações e reduzir a burocracia.
            O Fórum também irá proporcionar painéis e workshops ministrados por renomados profissionais da área de tecnologia e direito
            permitiram aos participantes compreender melhor as possibilidades de integração de inovações no cotidiano do
            Judiciário. Com iniciativas como esta, o Tribunal de Justiça do Piauí reafirma seu compromisso com a
            melhoria contínua de seus serviços, buscando maior transparência, celeridade e eficiência para atender
            melhor a população piauiense.
          </p>
        </div>
      </div>

      <div class="right-container">
        <img src="../../assets/images/local-sesc.jpg" alt="">

        <div class="info-container">
          <div class="location-container">
            <span class="material-symbols-outlined">
              <mat-icon>location_on</mat-icon>
            </span>
            <h4>
              Local do evento:
            </h4>
            <a target="_blank"
              href="https://www.google.com/maps/place/Sesc+Caju%C3%ADna/@-5.0872304,-42.7821533,15z/data=!4m6!3m5!1s0x78e3b15fb7184c3:0x92053ede1a6fc901!8m2!3d-5.0872304!4d-42.7821533!16s%2Fg%2F11hzn4yrmy?entry=ttu">
              Av. Cajuína, 725 - Noivos, Teresina - PI, 64046-000
            </a>
          </div>
          <div class="date-container">
            <span class="material-symbols-outlined">
              <mat-icon>calendar_month</mat-icon>
            </span>
            <h4>
              Data do evento:
            </h4>
            <span>
              05/09/2024 - 06/09/2024
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="speakers">
    <div class="content">
      <h2>Palestrantes</h2>
      <mat-grid-list [cols]="gridCols" rowHeight="24rem" gutterSize="1.2rem">
        <mat-grid-tile *ngFor="let speaker of (showAll ? speakers : speakers.slice(0, speakersToShow))">
          <a target="_blank" [href]="speaker.link" class="card-link">
            <div class="card effect2">
              <img mat-card-image [src]="speaker.photo" alt="{{speaker.name}}">
              <span class="material-symbols-outlined touch-icon">
                touch_app
              </span>
              <div class="card-header">
                <span class="card-name">
                  {{speaker.name}}
                </span>
                <span class="card-subtitle">
                  {{speaker.title}}
                </span>
              </div>
            </div>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button color="primary" (click)="toggleShowAll()">
        {{ showAll ? 'Ver menos' : 'Visualizar todos' }}
      </button>
    </div>
  </section>

  <section id="schedule">
    <div class="content">
      <div class="schedule-title">
        <h2 class="principal-title">
          Programação <mat-icon matTooltip={{warningText}} matTooltipPosition="right">info</mat-icon>
        </h2>
      </div>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" style="width: 80%;">
        <mat-tab *ngFor="let dia of dias" [label]="dia.label">
          <div class="tab-content">
            <mat-accordion style="width: 100%;">
              <mat-expansion-panel *ngFor="let palestra of dia.palestras"
                [disabled]="!palestra.participantes.length && !palestra.palestrante">
                <mat-expansion-panel-header class="custom-expansion-panel-header">
                  <mat-panel-title>
                    <span class="schedule-panel-time">
                      {{palestra.horario}}
                    </span>
                    <span class="schedule-panel-title">
                      {{palestra.titulo}}
                    </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mat-expansion-panel-content">
                  <div *ngIf="palestra.palestrante">
                    <span class="schedule-description-title">
                      Palestrante:
                    </span>
                    <p class="schedule-description-content">
                      • {{palestra.palestrante}}
                    </p>
                  </div>
                  <div *ngIf="palestra.participantes.length > 0">
                    <span class="schedule-description-title">
                      Participantes:
                    </span>
                    <ul class="schedule-description-content">
                      <li *ngFor="let participante of palestra.participantes">
                        • {{participante}}
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>

  <section id="sponsors">
    <div class="section-title">
      <h2>
        Apoiadores:
      </h2>
    </div>
    <div class="sponsors-container">
      <img src="../../assets/patrocinadores/patrocinador_01.png" alt="logo do patrocinador">
      <img src="../../assets/patrocinadores/patrocinador_02.png" alt="logo do patrocinador">
      <img src="../../assets/patrocinadores/patrocinador_03.png" alt="logo do patrocinador">
      <img src="../../assets/patrocinadores/patrocinador_04.png" alt="logo do patrocinador">
    </div>
  </section>

  <section id="contact">
    <div class="content">
      <div class="content-container-row">
        <img src="../../assets/logos/opalalab-logo.png" alt="Logo do OPALALAB" class="logo">
        <div class="middle-container-row">
          <p>Avenida Padre Humberto Pietrogrande, Nº 3509, São Raimundo, CEP 64.075-065 - Teresina-PI.</p>
          <div class="contact-info">
            <p><mat-icon>email</mat-icon> opalalab&#64;tjpi.jus.br</p>
            <p><mat-icon>phone</mat-icon> (86) 3317-66009</p>
          </div>
        </div>
        <img src="../../assets/logos/tjpi.png" alt="Logo do TJPI" class="logo">
      </div>

      <div class="copyright">
        <p>&copy; 2024, Tribunal de Justiça do Piauí - Todos os direitos reservados.</p>
        <p>Desenvolvido pelo Laboratório de Inovação do TJPI</p>
      </div>
    </div>
  </section>
</div>
