header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: .6rem;
  position: sticky;
  top: 0;
  z-index: 999;

  nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .5rem;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      li {
        a {
          color: #333;
          text-decoration: none;
          font-size: 1.2rem;
          padding: 10px;
          transition: color 0.3s;

          &:hover {
            color: #007BFF;
          }
        }
      }
    }
  }
}

#hero {
  // background: url('/assets/images/background.png');
  background: url('/assets/images/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  .hero-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      font-size: 1.2rem;
      text-decoration: none;
      padding: 15px 30px;
      border-bottom: .1rem solid #ffffff58;
      border-radius: 5px;
      background: linear-gradient(to right, #007BFF, #0056b3); /* Degradê */
      color: white;
      width: fit-content; /* Ajusta a largura ao conteúdo */
      transition: background 0.3s, transform 0.3s; /* Animação suave para background e transform */

      mat-icon {
        font-size: 1.5rem;
      }

      &:hover {
        background: linear-gradient(to right, #0056b3, #004080); /* Degradê no hover */
        transform: scale(1.05); /* Efeito de crescimento suave */
      }
    }
  }
}


section {
  padding: 2.5rem 1rem;

  .content, h2 {
    max-width: 1200px;
    margin: 0 auto;
  }

  p {
    text-align: justify;
  }
}

#about {
  h2 {
    font-size: 2.5rem;
    color: #114867;
    margin-bottom: 1rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: auto;

    .left-container {
      width: 50%;
      .about-text {
        text-indent: 2rem;
      }
    }

    .right-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      img {
        width: 100%;
        max-height: 15rem;
        object-fit: cover;
        object-position: center;
        border-radius: .625rem;
        border: .2rem solid #114867;
      }

      .info-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;

        .location-container,
        .date-container {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          h4 {
            color: #114767;
            font-weight: 600;
          }
          .material-symbols-outlined {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            mat-icon {
              height: 100%;
              width: 100%;
              font-size: 3rem !important;
              color: #114867;
            }
          }
          a, span {
            text-decoration: none;
            font-size: 1rem;
            color: #114867;
            text-align: center;
          }
        }
      }
    }
  }
}

#speakers {
  // Lembrar de colocar a mesma cor de degradê do papel...
  background: #114867;
  // background: linear-gradient(to left, #114867, #4a90e2);
  color: white;
  text-align: center;

  .content {

    h2 {
      font-size: 2.5rem;
      color: #FFFFFF;
      margin-bottom: 2.5rem;
    }

    mat-grid-list {

      .mat-grid-tile {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


    .card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      img {
        max-height: 75%;
        object-fit: cover;
      }

      .card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        .card-name {
          color: #01579B;
          font-size: 1.1rem;
          font-weight: 700;
        }

        .card-subtitle {
          font-size: 0.8rem;
          color: #777777;
        }
      }
    }

    button {
      margin: 4rem 0 1.5rem 0;

      width: 24%;
      padding: 1.5rem;
    }
  }
}

// Schedule Section
#schedule {
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .schedule-title {
      font-size: 2.4rem;
      margin-bottom: 2rem;
      color: #01579B;
    }

    mat-tab-group {
      mat-expansion-panel {
        mat-expansion-panel-header {
          height: 4rem;

          mat-panel-title {
            font-weight: 400 !important;
            gap: 2rem;

            .schedule-panel-time {
              font-weight: 500;
              color: #01579B;
            }

            .schedule-panel-title {

            }
          }
        }

        .mat-expansion-panel-content {
          padding: 1rem .5rem;

          .schedule-description-title {
            font-weight: 500;
            font-size: 1rem;
          }

          .schedule-description-content {
            padding-left: 1rem;
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: .5rem;
          }
        }
      }
    }

    .tab-content {
      padding: 1rem 0 0 0;
    }

    .custom-expansion-panel-header {
      transition: border-left 0.2s ease;
      &:hover {
        border-left: .4rem solid #01579B;
      }
    }
  }
}


.mat-expansion-panel-header[aria-disabled="true"] {
  ::ng-deep .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    color: #000 !important;
  }
}

#contact {
  background: #114867;
  color: #f4f4f4;
  padding: 2rem 0;
  text-align: center;

  .content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .logo {
      max-width: 150px;
      margin-bottom: 1.5rem;
    }

    .contact-info {
      margin-bottom: 2rem;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 1.1rem;
        mat-icon {
          margin-right: 0.5rem;
          color: #f4f4f4;
        }
      }
    }

    .footer-links {
      margin-bottom: 2rem;
      a {
        color: #f4f4f4;
        margin: 0 15px;
        text-decoration: none;
        font-size: 1.1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .copyright {
      font-size: 0.9rem;
      p {
        margin: 0.5rem 0;
      }
    }
  }
}
