header {
  background-color: #f4f4f4;
  color: rgb(12, 12, 12);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 3rem;
  border-bottom: 1px solid rgb(12, 12, 12);
  font-weight: 500;

  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 2rem;

      li {
        display: inline;

        a {
          color: rgb(12, 12, 12);
          text-decoration: none;
          padding: .5rem;
        }
      }
    }
  }
}

section {
  padding: 2rem 4rem;

  h2 {
    margin-top: 40px;
  }


  &.hero {
    background: url('/assets/images/background.png');
    background-size:cover;
    background-color: #f4f4f4;
    color: #f4f4f4;
    height: 50%;
    text-align: center;
    padding: 60px 20px;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;

      line-height: 4.2rem;
      width: 50%;
    }

    a {
      display: inline-block;
      margin-top: 2rem;
      padding: 1rem;
      width: 16rem;
      background-image: linear-gradient(to right, #316D78, #56B4D3); // Exemplo de degradê do azul ao ciano
      border: 1px solid #f4f4f4;
      color: white;
      font-weight: 700;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      transition: background 1s ease; // Transição suave para o efeito hover

      &:hover {
        background-image: linear-gradient(to right, #56B4D3, #316D78); // Degradê invertido ao passar o mouse
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }
}

.center {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
